#city-input-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.detailsContainer {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 10px;
  align-items: center;
  height: 500px;
}

.detailsItem {
  border: 1px solid rgba(236, 236, 236, 0.7);
  align-self: center;
}

.popupText {
  font-weight: 800;
  font-size: 15px;
}
