/* Paper header */
.titleContainer {
  text-align: center;
}

.academicOrigin {
  font-size: 12px;
}

/*  Text */
.homeAbstractContainer {
  padding-left: 20%;
  padding-right: 20%;
}

.homeAbstractContainer p {
  padding-left: 5px;
  text-align: justify;
}

.emailText {
  color: #303c51;
  font-weight: 700;
}
